env:
  browser: true
  es2021: true
extends:
  - airbnb
  - airbnb-typescript
  - airbnb/hooks
  - plugin:@typescript-eslint/recommended
  - plugin:@typescript-eslint/recommended-requiring-type-checking
  - plugin:import/recommended
  - plugin:import/typescript
  - plugin:jsx-a11y/recommended
  - plugin:react/recommended
  - plugin:react-hooks/recommended
  - prettier
parser: '@typescript-eslint/parser'
parserOptions:
  ecmaFeatures:
    jsx: true
  ecmaVersion: 12
  sourceType: module
  project: ./tsconfig.json
plugins:
  - '@typescript-eslint'
  - import
  - jsx-a11y
  - react
  - react-hooks
  - prettier
rules:
  jsx-a11y/label-has-associated-control:
    - warn
    - assert: nesting
  prettier/prettier:
    - warn
  react/jsx-filename-extension:
    - error
    - extensions: [.tsx]
  react/function-component-definition:
    - error
    - namedComponents: 'arrow-function'
      unnamedComponents: 'arrow-function'
  no-param-reassign:
    - error
    - props: true
      ignorePropertyModificationsFor:
        - state
settings:
  import/resolver:
    node:
      paths:
        - src
