@import 'src/shared/styles/colors';
@import 'src/shared/styles/utils';

.left-navigation {
  &__menu {
    @apply flex flex-col;
    $self: &;

    a {
      @extend %not-standard-link;
      #{$self}__icon {
        path {
          fill: $color-black-hex;
        }
      }
      @apply rounded-r-xl px-8 py-4 font-medium transition duration-300;
      @apply hover:bg-chinese-purple hover:text-cultured;

      &:hover,
      &.active {
        #{$self}__icon {
          path {
            fill: $color-cultured-hex;
            transition: all 100ms ease-out;
          }
        }
      }

      &.active {
        @apply bg-black text-cultured hover:bg-chinese-purple;
      }
    }
  }

  &__support-button {
    @extend %not-standard-link;
    @apply w-52 inline-block bg-black text-cultured px-8 py-4 rounded-lg hover:bg-chinese-purple;
    @apply transition duration-300;
  }
}

.top-navigation {
  &__profile {
    &__picture {
      @apply h-10 w-10 rounded-full ring-0 ring-chinese-purple/60 ring-offset-2 border-chinese-purple;
      @apply cursor-pointer group-hover:ring-4 transition duration-300;
    }

    &__dropdown {
      @apply absolute right-0 flex flex-col rounded-lg drop-shadow-md pt-2;

      > a {
        @apply px-5 py-3 w-52 text-left bg-white;
        @apply hover:bg-chinese-purple hover:text-cultured;
        @extend %not-standard-link;

        &:nth-child(2) {
          @apply rounded-t-lg;
        }

        &:last-child {
          @apply rounded-b-lg;
        }
      }
    }
  }
}
