$color-white: 255 255 255;
$color-cultured: 248 248 248;
$color-anti-flash-white: 241 241 241;
$color-platinum: 233 233 233;
$color-roman-silver: 132 141 145;
$color-black: 0 0 0;
$color-pale-taupe: 191 159 129;
$color-persian-blue: 37 52 195;
$color-chinese-purple: 96 10 189;
$color-melon: 255 186 186;
$color-rosso-corsa: 216 0 12;
