@import './colors';

:root {
  --color-cultured: #{$color-cultured};
  --color-platinum: #{$color-platinum};
  --color-black: #{$color-black};
  --color-pale-taupe: #{$color-pale-taupe};
  --color-roman-silver: #{$color-roman-silver};
  --color-persian-blue: #{$color-persian-blue};
}
