@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable no-invalid-position-at-import-rule */
@import 'shared/styles/root';
/* stylelint-enable no-invalid-position-at-import-rule */

@layer base {
  body {
    @apply font-dm-sans text-lg;
  }
}
